body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.grey-out{
        background: #ff0000;
}

.message-outgoing {
    background-color: #7aff00;
}

.message-incoming {
    background-color: #ff0000;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: 20px auto;
    text-align: right;
}